{{registerstylesheet "/DesktopModules/OpenContent/css/font-awesome/css/font-awesome.css"}}

{{registerscript "https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"}}

<div id="vuestarter" class="vuestarter" data-moduleid="{{Context.ModuleId}}"></div>



<p>Add / Update / Delete is not working if you have no Edit permissions </p>
