.oc-template-list table{
	border-collapse:collapse;
	
}

.oc-template-list th{
	font-weight:bold;
}

.oc-template-list th, .oc-template-list td{
	padding:0.5rem;
	text-align:left;
	border-bottom: solid 1px #ddd;
}
