.flex-title {  
  background: rgba(0,0,0,.5);
  bottom: 0;
  color: #fff;
  font-size: 14px;
  left: 0;
  line-height: 18px;
  padding: 1%;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);  
  width: 100%;
}

.flex-description {
  background: rgba(0,0,0,.5);
  bottom: 0;
  color: #fff;
  font-size: 14px;
  left: 0;
  line-height: 18px;
  padding: 1%;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);  
  width: 100%;
}