.addOpenContent-container{
	background-color:rgba(255,255,255,0.9);
	display:flex;
	position:absolute;
	left:0;
	bottom:0;
	line-height:100%;
	align-items:center;
	box-shadow: 0 0 5px rgba(128,128,128,0.2);
}
.addOpenContent-container .icon-wrap{
	border-right:solid 1px rgba(0,0,0,0.1);	
}
.addOpenContent-container .addOpenContent{
	display:block;
	width:1.4em;
	margin:5px;
	line-height:1em;
}