.oc-user-management .jplist .article {
    padding-bottom: 20px;
}



.oc-user-management .tags span {
    background-color: #999999;
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.oc-user-management .tags span.jplist-selected {
     background-color: #ff6a00;
}

.oc-user-management ul.tags {
    list-style:none;
    margin-left:0;
}

.oc-user-management .tags li{
    display:inline-block;
}



.oc-user-management .jplist-hidden {
    display: none;
}


.oc-user-management .jplist-panel .pagination {
margin:0;
}


.oc-user-management .oembedall-container{

  border:#eee solid 1px;
  padding:3px;
  
}

/* Theme correction */
.oc-user-management .btn-primary{
	color: white;
}